@import "nativescript-theme-core/css/core.light.css";

Image {
    margin: 10;
    max-height: 300;
}

Label {
    margin: 0 20 0 20;
    font-size: 16;
    font-weight: bold;
}

TextField {
    border-width: 1;
    border-color: #ccc;
    border-radius: 4;
    margin: 0 20 10 20;
    padding: 6 6;
    font-size: 18;
    color: #555;
}

.btn {
    font-size: 16;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}